FSXAssistantWinDesktopClient/Service References/FSXAssistantServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FSXAssistantServer" />
  <xs:element name="SimConnect_Start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SimConnect_StartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimConnect_StartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimConnect_Dispatch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SimConnect_DispatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimConnect_DispatchResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimConnect_IsClosing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SimConnect_IsClosingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimConnect_IsClosingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_state">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_stateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FSXAssistantServer" minOccurs="0" name="AP_stateResult" type="q1:APState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_master">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_masterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_masterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleMasterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_autoThrottle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_autoThrottleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_autoThrottleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleAutoThrottle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleAutoThrottleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_heading">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_headingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_headingResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_setHeading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="heading" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_setHeadingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_verticalAirspeed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_verticalAirspeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_verticalAirspeedResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_desiredVerticalAirspeed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_desiredVerticalAirspeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_desiredVerticalAirspeedResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_setDesiredVerticalAirspeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airspeed" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_setDesiredVerticalAirspeedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_airspeed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_airspeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_airspeedResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_setAirspeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airspeed" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_setAirspeedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_airspeedHold">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_airspeedHoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_airspeedHoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleSpeedHold">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleSpeedHoldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_headingHold">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_headingHoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_headingHoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleHeadingHold">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleHeadingHoldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_altitudeHold">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_altitudeHoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_altitudeHoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleAltitudeHold">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_toggleAltitudeHoldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_altitude">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_altitudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_altitudeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_setAltitude">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="altitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_setAltitudeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_maxBankAngle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_maxBankAngleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_maxBankAngleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_increaseMaxBankAngle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_increaseMaxBankAngleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_decreaseMaxBankAngle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_decreaseMaxBankAngleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>